@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Izzy's MVC Movies</h1>
    <br />
    <br />
    <br />
    <p class=" text-center">
        <a class="btn btn-success" asp-controller="Movies" asp-action="Index">Add a Movie!</a>
    </p>
</div>
